.categoryHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.permissionTable {
  :global {
    .ant-radio-inner {
      border-radius: 0 !important;
    }
    .ant-table-row-selected > td {
      background-color: #e4f5eb !important;
    }
  }
}
