.continueAudit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  color: #4a7cff;
  font-weight: 400;
  font-size: 13px;
  .internalTitle {
    cursor: pointer;
    &:hover {
      color: rgba(#4a7cff, 0.8);
    }
  }
}
.divider {
  color: #bbbdca;
  font-size: 14px;
}
