@import '~antd/es/style/themes/default.less';
//
//html,
//body,
//#root {
//  height: 100%;
//}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// {
//  moz-user-select: -moz-none;
//  -moz-user-select: none;
//  -o-user-select: none;
//  -khtml-user-select: none;
//  -webkit-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.pg-viewer-wrapper {
  overflow-y: hidden !important;

  ol {
    margin-left: 0 !important;
    padding-inline-start: 20px;
  }

  img {
    width: auto;
    max-width: 100% !important;
  }
}

.pageShowFile {
  position: relative;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  * {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    moz-user-select: -moz-none;
  }

  .pageShowFileCatalog {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 280px;
    height: 100%;
    padding-bottom: 20px;
    padding-left: 16px;
    overflow-y: scroll;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .pageShowFileCatalogTitle {
      padding-top: 16px;
      font-weight: 500;
      font-size: 24px;
      line-height: 48px;
      text-align: center;
    }

    span {
      color: #969696;
      cursor: pointer;

      &.active {
        color: #208 !important;
      }
    }

    .h1Title {
      margin-bottom: 6px;
    }

    .h2Title {
      margin-bottom: 6px;
      text-indent: 14px;
    }

    .h3Title {
      margin-bottom: 6px;
      text-indent: 28px;
    }

    .h4Title {
      margin-bottom: 6px;
      text-indent: 42px;
    }

    .h5Title {
      margin-bottom: 6px;
      text-indent: 56px;
    }

    .h6Title {
      margin-bottom: 6px;
      text-indent: 70px;
    }
  }

  .pageShowFileContent {
    flex: 1;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #333333;
    font-size: 14px;

    h1 {
      font-weight: 600;
      font-size: 24px;
    }

    h2 {
      font-weight: 600;
      font-size: 22px;
    }

    h3 {
      font-weight: 600;
      font-size: 20px;
    }

    h4 {
      font-weight: 600;
      font-size: 18px;
    }

    h5 {
      font-weight: 600;
      font-size: 16px;
    }

    h6 {
      font-weight: 600;
      font-size: 14px;
    }

    ul,
    ol {
      list-style: disc;
      padding-inline-start: 20px;

      li {
        margin-bottom: 1em;
      }
    }

    img {
      max-width: 100%;
    }
  }

  .pageShowFileTitle {
    width: 100%;
    margin-bottom: 24px;
    padding-top: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
  }

  .pageLoading {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 88%;
    //margin: 0 4%;
    height: 70vh;
    padding-top: 18%;
    text-align: center;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 1080px) {
  .pageShowFileCatalog {
    display: none;
  }
}

@media print {
  .pageShowFile {
    display: none;
  }
}
