.wrap {
  position: relative;
}

:global {
  .rxq-dropdown .rxq-item {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-height: 32px;
    padding: 5px 12px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
  }

  .rxq-dropdown .rxq-item:hover {
    color: #0e7b3b;
    background-color: #e4f5eb;
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 11px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    transform: translateY(-50%);
  }
  .rxq-dropdown::-webkit-scrollbar {
    width: 8px;
    background-color: #e5e7eb;
  }
  .rxq-dropdown::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.wrap .input {
  box-sizing: border-box;
  width: 100%;
  height: 27px;
  padding: 4px 7px;
  border: 1px solid #e5e5e5;
}

.wrap .input:focus {
  border: 1px solid #0e7b3b;
  outline: none;
}

.wrap .input:hover {
  border: 1px solid #0e7b3b;
}
.wrap .input::-webkit-input-placeholder {
  color: #ccc;
}
