.hasUploadFileShowItem {
  display: flex;
  margin-top: 20px;
  font-size: 12px;
  &.error {
    .hasUploadFileShowItemNameIcon {
      color: @red-color;
    }
  }
  .hasUploadFileShowItemNameContent {
    flex: 1;

    .hasUploadFileShowItemNameIcon {
      margin-right: 6px;
      color: @gray-color;
      font-size: 14px;
    }

    .hasUploadFileShowItemName {
      color: @primary-color;
      font-weight: 400;
      font-size: 12px;
    }
  }

  .hasUploadFileShowItemControl {
    .renameButton,
    .deleteButton {
      margin-right: 7px;
      color: @gray-color;
      font-size: 12px;
      cursor: pointer;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Chrome/Safari/Opera */
      -khtml-user-select: none;
      /* Konqueror */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      -webkit-touch-callout: none;
      /* Non-prefixed version, currently not supported by any browser */
    }
    .deleteButton {
      color: @red-color;
    }

    .uploadButton {
      margin-right: 7px;
      color: @primary-color;
      font-size: 12px;
      cursor: pointer;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Chrome/Safari/Opera */
      -khtml-user-select: none;
      /* Konqueror */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      -webkit-touch-callout: none;
      /* Non-prefixed version, currently not supported by any browser */
    }
    .controlButtonIcon {
      margin-right: 7px;
      font-size: 14px;
    }
  }
}
