.treeTableContent {
    min-height: 130px;
    .treeTable {
        padding-top: 10px;
    }
}
.resultButton {
    .resultButtonContent {
        text-align: right;
    }
    .helpTitle {
        color: @gray-color;
        line-height: 1;
    }
}

.titleIcon {
    display: inline-block;
    width: 2px;
    background-color: @primary-color;
    height: 14px;
    margin-right: 8px;
}