.resultButton {
  .resultButtonContent {
    text-align: right;
  }
  .helpTitle {
    color: @gray-color;
    line-height: 1;
  }
  .projectTitle {
    color: #1180fd;
  }
}

.titleIcon {
  display: inline-block;
  width: 2px;
  height: 14px;
  margin-right: 8px;
  background-color: @primary-color;
}

.resultTable {
  :global {
  }
}
