@font-face {
    font-family: "gridManageIconfont";
    /* Project id 1908048 */
    src: url('iconfont.woff2?t=1653879535104') format('woff2'), url('iconfont.woff?t=1653879535104') format('woff'), url('iconfont.ttf?t=1653879535104') format('truetype');
}

.gridManageIconfont {
    font-family: "gridManageIconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xiangbian:before {
    content: "\e613";
}

.icon-biandianzhan-110kv:before {
    content: "\e618";
}

.icon-dianlanfenzhixiang:before {
    content: "\e619";
}

.icon-biandianzhan-20kv:before {
    content: "\e61a";
}

.icon-shengwuzhineng:before {
    content: "\e61b";
}

.icon-fengdian:before {
    content: "\e61c";
}

.icon-ganta:before {
    content: "\e608";
}

.icon-huodian:before {
    content: "\e609";
}

.icon-guangfu:before {
    content: "\e60a";
}

.icon-jiakongxian:before {
    content: "\e60b";
}

.icon-peidianshi:before {
    content: "\e60f";
}

.icon-huanwangxiang:before {
    content: "\e611";
}

.icon-kaibisuo:before {
    content: "\e612";
}

.icon-shuidian:before {
    content: "\e614";
}

.icon-zhushangbianyaqi:before {
    content: "\e615";
}

.icon-zhushangduanluqi:before {
    content: "\e616";
}

.icon-biandianzhan-330kv:before {
    content: "\e617";
}

.icon-ceju:before {
    content: "\e60e";
}

.icon-luopan:before {
    content: "\e610";
}

.icon-zuobiaodingwei:before {
    content: "\e66a";
}

.icon-suoxiao:before {
    content: "\e60d";
}

.icon-fangda:before {
    content: "\e60c";
}