.table {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  tr{
    min-height: 54px;
    border-bottom: 1px solid #dbdbdb;
  }
  td,th {
    flex: 1;
    text-align: center;
    line-height: 54px;
    border-right: 1px solid #dbdbdb;
    &:hover {
      background-color: #fafafa;
    }
  }
}