.toolbar {
  position: absolute;
  top: 10px;
  z-index: 1000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: all 0.5s;
  translate: x(0);
  &:hover {
    color: seagreen;
  }
}

.searchWrap {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 2000;
  width: 130px;
  height: 262px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  translate: x(0);
}

.toolbarBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2000;
}

.repeatPointWrap {
  position: absolute;
  bottom: 10px;
  z-index: 90;
  width: 300px;
  height: 200px;
  // top: 70px;
  translate: x(0);
}
