.table {
  table {
    width: 95%;
    white-space: nowrap;
    border: 1px solid #333;
    td {
      padding: 0 4px;
      border: 1px solid #333;
      border-collapse: collapse;
    }
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: desc;
    li {
      padding-left: 14px;
      background-repeat: no-repeat;
      background-position: 0px 5px;
    }
  }
  ol {
    font-weight: 600;
    font-size: 22px;
    list-style-type: decimal;
    li {
      padding-left: 14px;
      background-repeat: no-repeat;
      background-position: 0px 5px;
    }
  }
}
