

.phoneInfoWrap {
  padding: 15px 0;
  .ml110 {
    margin-left: 110px;
  }
  .ml60 {
    margin-left: 60px;
  }
  .ml12 {
    margin-left: 12px;
  }
  .minHeight60 {
    min-height: 40px;
    line-height: 40px;
    .base60 {
      flex-basis: 60px;
    }
    .link {
      color: #000;
      cursor: pointer;
      &:hover {
        color: green;
      }
    }
  }
  .flex {
    display: flex;
    align-items: center;
  }
}