.costTemplate {
  .leftMenu {
    .topBox {
      display: flex;
      justify-content: space-between;
    }
    :global(.ant-tabs-nav) {
      height: 100% !important;
    }
    :global(.ant-tabs-tab) {
      display: flex;
      justify-content: center;
      width: 200px !important;
    }
    :global(.ant-tabs-left) {
      overflow: visible;
      :global(.ant-tabs-content-holder) {
        margin-top: -40px;
      }
    }

    //width: 250px;
    .content {
      display: inline-block;
      width: 200px;
      height: 34px;
      margin-top: 10px;
      text-align: center;
    }
  }
  .tables {
    //padding-left: 14px;
    //flex: 1;
    //margin-right: 14px;
  }
}
