.ganttComponentView {
    width: 100%;
    height: 100%;
    .ganttComponentButton {

    }
    .ganttComponentViewContent {
        width: 100%;
        height: 100%;
        display: flex;
        .ganttComponentViewLeft {
            width: 300px;
            height: 100%;
            flex-shrink: 0;
            border: 1px solid @table-line-color;
            .ganttComponentMenuTitle {
                height: 81px;
                border-bottom: 1px solid @table-line-color;
                padding-top: 50px;
                .ganttComponentMenuTitleContent {
                    height: 31px;
                    border-top: 1px solid @table-line-color;
                    line-height: 30px;
                    padding-left: 8px;
                    color: @gray-color;
                }
            }
            .ganttComponentMenuContent {
                .ganttComponentMenuItem {
                    height: 44px;
                    line-height: 44px;
                    color: @gray-color;
                    border-bottom: 1px solid @table-line-color;
                    padding-left: 8px;
                }
            }
        }
        .ganttComponentViewRight {
            border-top: 1px solid @table-line-color;
            overflow-x: auto;
            flex: 1;
            .ganttComponentCalendarContent {
                display: flex;
                .ganttComponentMonth {
                    color: @gray-color;
                    font-size: 13px;
                    .ganttComponentMonthContent {
                        border-right: 1px solid @table-line-color;
                        border-bottom: 1px solid @table-line-color;
                        padding-left: 7px;
                    }
                    .ganttComponentMonthDayContent {
                        display: flex;
                    }
                    .ganttComponentMonthDayAndWeekContent {
                        display: flex;
                    }
                    .ganttCalendarItem {
                        border-right: 1px solid @table-line-color;
                        border-bottom: 1px solid @table-line-color;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                    }
                }
            }
            .ganttComponentGriddingContent {
                width: 100%;
                position: relative;
                .ganttComponentGriddingLine {
                    width: 100%;
                    display: flex;
                    .ganttComponentGriddingLineItem {
                        width: 30px;
                        height: 44px;
                        border-right: 1px solid @table-line-color;
                        border-bottom: 1px solid @table-line-color;
                        box-sizing: border-box;
                    }
                }
                .ganttBarItem {
                    position: absolute;
                    height: 44px;
                    background-color: @gantt-item-bg-color;
                    .ganttBarItemPercent {
                        height: 100%;
                        width: 56%;
                        background-color: #0E7B3B;;
                    }
                }
            }
        }
    }
}