.sideTree {
  :global {
    .ant-tree-indent-unit {
      width: 7px;
    }
    .ant-tree-treenode {
      width: 100%;
      border-bottom: 1px solid #9bacb6;
      min-height: 34px;
      line-height: 34px;
      vertical-align: middle;
    }
    .ant-tree-treenode-selected {
      background-color: #cad6cf;
    }
    .ant-tree-node-selected {
      background-color: #cad6cf !important;
    }
    .ant-tree-switcher {
      line-height: 34px;
    }
    .ant-tree-node-content-wrapper {
      line-height: 34px;
    }
    .ant-tree-checkbox {
      margin: 9px 8px 0 0;
    }
    .ant-tree .ant-tree-treenode {
      padding: 2px 0 2px 0 !important;
    }
    .ant-tabs .ant-tabs-content-holder .ant-tabs-content {
      overflow-y: hidden;
    }
    .ant-tree .ant-tree-node-content-wrapper:hover {
      background-color: rgba(0, 0, 0, 0);
      cursor: auto;
    }
  }

  box-sizing: border-box;
  height: 100%;
  // overflow-y: hidden;
  .sideTreeTitle {
    margin-bottom: 6px;
    margin-left: 8px;
    font-size: 18px;
  }
  .tabBar {
    display: flex;
    background-color: #d6d6d6;
    align-items: center;
    padding: 0 10px;
    .tabBarItem {
      height: 38px;
      line-height: 38px;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .sideMenu {
    height: 100%;
    padding: 8px;
    padding-left: 0;
    overflow: hidden;
    background-color: #ebedee;
  }

  .loading {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .areaButtons{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    .areaButtonsItem{
      width: 100%;
    }
  }
  .linkAble {
    &:hover {
      color: #0e7b3b;
      cursor: pointer;
    }
  }
}