.wrap {
  :global {
    .editable-cell {
      position: relative;
    }

    .editable-cell-value-wrap {
      padding: 5px 12px;
      cursor: pointer;
    }

    .editable-row:hover .editable-cell-value-wrap {
      padding: 4px 11px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
    }

    [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
      border: 1px solid #434343;
    }

    .ant-table {
      .ant-table-container {
        border-color: @table-line-color !important;
        border-top: 1px solid #dbdbdb;

        .ant-table-content {
          td,
          th {
            border-color: @table-line-color !important;
          }

          thead {
            th {
              padding: 12px 4px 12px 10px;
              color: @black-color;
              font-weight: 500;
              font-size: 13px;
              line-height: 1;
              background-color: @table-thead-color;
            }
          }

          tbody {
            td {
              padding: 7px 4px 10px 7px;
              color: @gray-color;
              font-size: 13px;
            }
          }

          .ant-table-row-selected {
            td {
              background-color: @table-select-color !important;
            }
          }
        }
      }
    }

    .ant-radio-inner {
      border-radius: 0 !important;
    }
  }
}
