.overFlowHiddenComponent {
  display: flex;
  width: 100%;
  .noOverFlowContent {
    display: flex;
    flex-shrink: 0;
    width: calc(100% - 36px);
    overflow: hidden;
  }
  .overFlowContent {
    width: 36px;
    padding-left: 16px;
    line-height: 28px;
  }
}
