#components-table-resizable-column .react-resizable {
  position: relative;
  background-clip: padding-box;
}
#components-table-resizable-column .react-resizable-handle {
  position: absolute;
  right: -9px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  border-left: white 1px solid;
  cursor: col-resize;
}
