.eventNumber{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
  height: 118px;
  background: white;
  .eventNumberItem{
    width: 33%;
    justify-content: center;
    display: flex;
    height: 70px;
    .image{
      margin-right: 20px;
    }
    .EventNumberInfo{
      display: flex;
      justify-content: center;
      flex-direction:column;
      .text{
        margin: 0;
        font-size: 16px;
        font-family: PingFang SC, serif;
        font-weight: 500;
        line-height: 22px;
        color: #000000;
        opacity: 1;
      }
      .number{
        margin: 0;
        font-size: 32px;
        font-family: Helvetica Narrow, serif;
        font-weight: bold;
        line-height: 43px;
        color: #1F1F1F;
        opacity: 1;
      }
    }
  }
  .linBox{
    display: flex;
    width: 3px;
    flex-direction: column;
    justify-content: center;
    .line{
      width: 1px;
      height: 28px;
      background: #C1C1C1;
      opacity: 1;
    }
  }
}
