.changeNumberShowElement {
    .hasAddNumber {
        color: @red-color;
        display: flex;
        .hasAddIcon {
            transform: rotate(90deg);
        }
    }
    .hasReduceNumber {
        color: @table-status-green-two;
        display: flex;
        .hasReduceIcon {
            transform: rotate(90deg);
        }
    }
}