.changeNumberShowElement {
  .hasAddNumber {
    display: flex;
    color: @red-color;
    .hasAddIcon {
      transform: rotate(90deg);
    }
  }
  .hasReduceNumber {
    display: flex;
    color: @table-status-green-two;
    .hasReduceIcon {
      transform: rotate(90deg);
    }
  }
}
