.statistic {
  align-items: baseline;
  .addOrMinus {
    display: inline-block;
    width: 58px;
    margin-right: 15px;
  }

  :global {
    .ant-form-item-control-input-content {
      display: inline-flex;
      align-items: baseline;
    }
  }
}

.expireDate {
  :global {
    .ant-picker-panel-container .ant-picker-panel .ant-picker-footer .ant-picker-today-btn {
      display: none;
    }
  }
}
