.statistic {
  align-items: baseline;
  .addOrMinus {
    display: inline-block;
    width: 58px;
    margin-right: 15px;
  }
  .totalNumber {
    display: inline-block;
    width: 80px;
  }

  .canUseNumber {
    display: inline-block;
    width: 250px;
  }

  :global {
    .ant-form-item-control-input-content {
      display: inline-flex;
      align-items: baseline;
    }
  }
}
