.projectAllAreaStatistics {
  width: 100%;
  height: 100%;
  background-color: @bg-primary-color;

  .statisticsTop {
    width: 100%;
    height: 63.29%;
    margin-bottom: 10px;
    display: flex;
    .processContent {
      width: 63.38%;
      margin-right: 10px;
      height: 100%;
    }
    
    .topOtherContent {
      width: 37.37%;
      height: 100%;
      .overdueContent {
        width: 100%;
        height: 40.7%;
        margin-bottom: 10px;
      }
      .projectDataContent {
        width: 100%;
        height: 57.12%;
      }
    }
  }

  .statisticsBottom {
    display: flex;
    height: 35.31%;
    .projectStatisticsContent {
      width: 32.4%;
      height: 100%;
      margin-right: 10px;
    }
    .surveyRateContent {
      width: 36.62%;
      height: 100%;
      margin-right: 10px;
    }
    .projectProcessListContent {
      width: 29.64%;
      height: 100%;
    }
  }
}
