.replyComponent {
    .replyComponentTitle {
        .replyPerson {
            font-size: 13px;
            color: @primary-color;
            vertical-align: bottom;
        }
        .replyTime {
            color: @gray-color;
            font-size: 11px;
            vertical-align: bottom;
            padding-left: 7px;
        }
    }
    .replyComponentContent {
        font-size: 13px;
        color: @black-color;
        font-weight: 400;
        padding-top: 3px;
    }
}