.filterbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-top: 11px;
  padding-left: 11px;
  padding-right: 11px;
  margin-bottom: 16px;
  background-color: @white-color;
}
