.rankingComponent {
  width: 16px;
  height: 16px;
  color: @ranking-component-font-color;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: @ranking-component-default-bg;
  border-radius: 100%;
  &.active {
    color: #ffffff;
    background-color: @ranking-component-bg;
  }
}
