.rankingComponent {
    width: 16px;
    height: 16px;
    background-color: @ranking-component-default-bg;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    color: @ranking-component-font-color;
    border-radius: 100%;
    &.active {
        background-color: @ranking-component-bg;
        color: #ffffff;
    }
    
}