@media screen and (min-height: 1080px) {
  .numberItem {
    height: 140px;
  }
}

@media screen and (max-height: 937px) {
  .numberItem {
    height: 170px;
  }
}

@media screen and (min-height: 1297px) {
  .numberItem {
    height: 182px;
  }
}

.numberItem {
  display: flex;
  align-items: center;

  .rightContent {
    margin-left: 20px;

    .title {
      font-size: 18px;
    }
  }
}
