.editFormTable {
  table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid @table-line-color;
    border-collapse: collapse;
    thead {
      tr {
        background-color: #f2f2f2;
        th {
          padding: 6px 10px;
          border-right: 1px solid @table-line-color;
          border-bottom: 1px solid @table-line-color;
        }
      }
    }

    tbody {
      td {
        padding: 6px 10px;
        color: @gray-color;

        border-right: 1px solid @table-line-color;
        border-bottom: 1px solid @table-line-color;
        :global {
          .ant-form-item {
            margin-bottom: 0px !important;
          }
        }
      }
    }
  }
}
.addBtnWrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 45px;
}
.deleteBtnWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45px;
}
