.reportBox{
  display: flex;
  flex: 1;
  height: 99%;
  .leftSide{
    width: 240px;
    height: 100%;
    margin-right: 12px;
    background: #fff;
    padding: 12px 0px;
    .leftSideTitle{
      font-size: 16px;
      font-family: Source Han Sans CN;
      font-weight: 500;
      line-height: 16px;
      color: #1F1F1F;
      opacity: 1;
      text-indent: 42px;
    }
    .leftSideTree{
      margin-top: 12px;
      :global .ant-tree-switcher-noop{
        display: none;
      }
      :global .ant-tree-indent-unit::before{
        border-color: white;
        display: none;
      }
      :global .ant-tree-treenode{
        padding: 0;
      }
      :global .ant-tree-switcher{
        line-height: 36px;
        position: relative;
        left: 36px;
        background: transparent;
        //display: none;
        z-index: 99;
      }
      :global .ant-tree-node-content-wrapper{
        height: 36px;
        //padding: 0 36px;
        width: 190px;
        line-height: 36px;
        text-indent: 36px;
      }
      :global .ant-tree-title{
        color: #8C8C8C;
        font-size: 16px;
        font-family: PingFang SC;
        font-weight: 400;
      }
      :global .ant-tree-node-selected{
        background: #E4F5EB;
        height: 36px;
        //padding: 0 30px;
        line-height: 36px;
        .ant-tree-title{
          color: #0E7B3B;
        }
      }
    }
  }
  .rightSide{
    width: calc(100% - 252px);
  }
}
