.projectItem {
  display: flex;

  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  .content {
    flex: 1;
    margin-left: 8px;
    color: #505050;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
  }

  .projectName {
    flex: 1;
    margin-right: 8px;
    margin-left: 16px;
    overflow: hidden;
    color: #505050;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    .projectName:hover {
      color: #2bb167;
    }
  }

  .date {
    width: 87px;

    color: #8c8c8c;
  }
}
