.accreditStatistics {
  display: flex;
  align-items: center;
  height: 60px;
  .accreditLeft {
    height: 60px;
    padding-right: 22px;
    line-height: 64px;
    img {
      width: 65px;
      height: 65px;
    }
  }

  .accreditRight {
    display: flex;
    flex-direction: column;
    .accreditTitle {
      height: 22px;
      color: #000000;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      opacity: 1;
    }
    .accreditAccount {
      display: flex;
      .accreditWord {
        width: 95px;
        height: 22px;
        padding-top: 6px;
        padding-right: 25px;
        color: #8c8c8c;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        .totalNumber {
          padding-left: 10px;
          color: #000000;
          font-weight: bold;
          font-size: 22px;
          font-family: DIN Alternate;
          line-height: 26px;
          opacity: 1;
        }
        .availableNumber {
          padding-left: 10px;
          color: #4da944;
          font-weight: bold;
          font-size: 22px;
          font-family: DIN Alternate;
          line-height: 26px;
          opacity: 1;
        }
      }
    }
  }
}
