.imagWrap {
  position: relative;
  width: 100%;
  height: 100%;
  .overhidden {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    .img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: auto;
      height: 100%;
      margin: 0 auto;
      pointer-events: none;
      &:hover {
        cursor: crosshair;
      }
    }
  }

  .isDrag {
    cursor: pointer;
  }

  .AreaButtons {
    position: absolute;
    right: 0;
    bottom: -42px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: auto;
  }
}

.fullScreen {
  padding: 0;
  width: 100%;
  height: 100%;
  :global {
    .ant-modal-body,
    .ant-modal-content,
    .ant-modal-wrap {
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .controls {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left,
    .right {
      width: 50%;
      height: 100%;
      
    }
  }
}
