.pageCommonWrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 10px 10px 27px 10px;
  background-color: @bg-primary-color;
  .pageCommonWrapContent {
    width: 100%;
    height: 101%;
    padding: 0px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: @white-color;
    &.noPadding {
      padding: 0;
    }
    &.noColor {
      background-color: #f7f7f7;
    }
  }
  .explainContent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    background-color: @bg-primary-color;
    .explainContentImportant {
      color: @black-color;
    }
    .explainContentCopyTip {
      color: @gray-color;
    }
    .explainHref {
      color: @primary-color;
      cursor: pointer;
    }
  }
}
