.layoutHeader {
  .layoutHeaderContainer {
    display: flex;
    height: 53px;
    padding: 0px 20px 0px 20px;
    background-color: @white-color;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
    .layoutHeaderLogo {
      box-sizing: border-box;
      width: 185px;
      padding: 10px 0;
      img {
        height: 34px;
        padding-right: 23px;
        border-right: 1px solid #e2e2e2;
      }
    }
    .layoutHeaderContent {
      display: flex;
      flex: 1 1;
      align-items: center;
      box-sizing: border-box;
    }

    .layoutMyBaseInfo {
      display: flex;
      box-sizing: border-box;
      height: 32px;
      padding-top: 8px;
      text-align: right;
      .myMessageTips {
        //padding-right: 35px;
        font-size: 18px;
        line-height: 32px;
        cursor: pointer;
      }
      .myBaseInfo {
        margin-left: 35px;
        display: flex;
        height: 32px;
        text-align: right;
        cursor: pointer;
        .myBaseInfoWord {
          padding-left: 12px;
          color: #fff;
          line-height: 1.4;
        }

        .myHeadPortait {
          width: 26px;
          height: 26px;
          border-radius: 26px;
        }
      }
      .foldIcon {
        margin-left: 8px;
        line-height: 24px;
      }
    }
  }
}
.myNameContent {
  padding: 6px 12px;
  color: @black-color;
  font-size: 23px;
}
.headerMenuIcon {
  margin-right: 12px;
}
