.searchArea {
  display: flex;
  :global {
    .ant-select {
      width: 340px;
    }
  }
}
.buttonArea {
  display: flex;
  .importBtn {
    margin-right: 7px;
  }
}

.checkInventory:hover {
  color: #0f7b3c;
  cursor: pointer;
}
