.rateComponent {
  width: 100%;
  height: 12px;
  display: flex;

  .rateComponentChart {
    flex: 1;
    position: relative;
    .rateComponentChartBg {
      width: 100%;
      background-color: #EFF2F4;
      height: 100%;
    }

    .rateComponentChartActual {
      background-color: #4DA944;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .rateComponentWord {
    width: 48px;
    font-size: 12px;
    line-height: 1;
    text-align: right;
  }

}
