.modal {
  margin-top: 60px;

  .content {
    // width: 300px;

    .phoneInput {
      height: 68px;
      margin-top: 15px;
      margin-bottom: 2px;
    }

    .loginInput {
      height: 44px;

      :global {
        .ant-input {
          font-size: 13px;
        }
      }
    }
  }
}
