.modal {
  margin-top: 60px;

  .content {
    // width: 300px;
  
    .phoneInput {
      margin-top: 15px;
      margin-bottom: 2px;
      height: 68px;
    }
    
    .loginInput {
      height: 44px;
    
      :global {
        .ant-input {
          font-size: 13px;
        }
      }
    }
  
  }

}

