.surveyTrackWrap {
  display: flex;
  flex-direction: column;
  .icon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px 0;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    &:hover {
      color: green;
    }
    .surveyTrackImg{
      width: 26px;
      height: 26px;
    }
  }
  .active {
    color: green;
    background-color: #cad6cf;
  }
}