.verifycodeImageWrap {
  display: flex;
  align-items: top;
  height: 70px;
  .reload {
    flex: 1;
    margin-left: 10px;
    font-size: 18px;
    line-height: 30px;
    .icon {
      cursor: pointer;
      &:hover {
        color: green;
      }
    }
  }
  .InputWrap {
    position: relative;
    flex: 1;
    .error {
      position: absolute;
      bottom: 10px;
      color: red;
      font-size: 12px;
    }
    :global {
      .ant-input {
        line-height: 30px;
      }
    }
  }
  .imgWrap {
    flex-basis: 140px;
    cursor: pointer;
  }
  .img {
    height: 40px;
  }
  .changeText {
    float: right;
    margin-right: 10px;
    color: #4199ff;
    cursor: pointer;
    user-select: none;
  }
}
