.controlLeftMenuStyle {
  position: absolute;
  top: 50%;
  z-index: 100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 40px;
  margin-top: -55px;
  overflow: hidden;
  background-color: white;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  transition: all 0.5s;
  translate: x(0);
  &:hover {
    color: seagreen;
  }
}

.uploadData {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2000;
}
