.businessBoard {
  padding: 4px 20px;
  .tableTitle {
    margin: 16px 0 12px 0;
    color: black;
    font-weight: 600;
    font-size: 14px;
    text-indent: 4px;
  }
  .tableTitleBack {
    width: 150px;
    margin: 16px 0 12px 0;
    color: black;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
  }
  :global .ant-table-summary .ant-table-cell {
    padding: 7px 4px 10px 7px;
    color: #8c8c8c;
    font-size: 13px;
  }
}
.tableLink {
  color: #1890ff;
  cursor: pointer;
}
