.businessBoard {
  .businessBoardTitle {
    height: 14px;
    margin: 12px 0;
    color: #1f1f1f;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-indent: 8px;
    border-left: 2px solid #0e7b3b;
  }
  padding: 4px 20px;
  .tableTitle {
    margin: 16px 0 0 0;
    color: black;
    font-weight: 500;
    font-size: 16px;
    text-indent: 4px;
  }
  .tableTitleBack {
    margin: 16px 0 0 0;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
  :global .ant-table-summary .ant-table-cell {
    padding: 7px 4px 10px 7px;
    color: #8c8c8c;
    font-size: 13px;
  }
}
.tableLink {
  color: #1890ff;
  cursor: pointer;
}
