.main {
  height: calc(100% - 36px);

  background-color: @bg-primary-color;
  .sidemenuContainer {
    height: 100%;
    background-color: @white-color;
  }

  .reviewTableContainer {
    flex: 1;
    height: 100%;
  }
}
