.container {
  padding: 16px;
  background-color: @bg-primary-color;
  .main {
    height: calc(100% - 38px);
    background-color: @bg-primary-color;
    .sidemenuContainer {
      height: 100%;
      background-color: @white-color;
    }

    .reviewTableContainer {
      flex: 1;
      height:100%;
    }
  }
}
