@sideNavWidth: 800px;
.container {
  background-color: @bg-primary-color;
  .content {
    position: relative;
    .sideTreeContainer {
      width: @sideNavWidth;
      height: 741px;
      margin-right: 8px;
      background-color: #fff;
    }
    .tableContainer {
      position: relative;
      width: 100%;
      height: 741px;
    }
  }
}
