.missionTabs {
  height: 95%;

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
  }

  :global {
    .ant-tabs-nav-wrap {
      padding: 20px;
    }

    .ant-tabs-nav-wrap .ant-tabs-tab {
      width: 125px !important;
      background-color: white !important;
    }

    .ant-tabs-ink-bar {
      bottom: -20px !important;
    }
  }
}
