.projectItem {
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  .content {
    width: 100px;
    margin-left: 8px;
    overflow: hidden;
    color: #505050;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
  }
  .operationCategory {
    width: 100px;
    margin-left: 8px;
    overflow: hidden;
    color: #505050;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
  }

  .projectName {
    flex: 1;
    margin-right: 8px;
    margin-left: 13px;
    overflow: hidden;
    color: @primary-color;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    .projectName:hover {
      color: @primary-color;
    }
  }

  .date {
    width: 120px;

    color: #8c8c8c;
  }
}
