.hasCheckItem {
  display: inline-block;
  margin-right: 14px;
  color: @gray-color;
  position: relative;
  line-height: 24px;

  .hasCheckItemIcon {
    font-size: 17px;
    color: @gray-color;
    margin-top: 6px;
  }

  .hasCheckItemContent {
    color: @gray-color;
    margin-left: 8px;
  }

  .hasCheckItemTip {
    color: @gray-color;
    margin-left: 8px;
    position: absolute;
    padding: 3px 5px 3px 3px;
    background-color: @tip-uncheck-color;
    color: @tip-uncheck-font-color;
    font-size: 10px;
    left: 14px;
    top: -14px;
    border-radius: 4px;
    line-height: 1.1;
  }
}
