@sideNavWidth: 260px;
.content {
  position: relative;
  height: calc(100% - 48px);

  &.sideNavShow {
    .sideNav {
      left: 0px;
      width: @sideNavWidth;
    }
  }

  &.sideNavHide {
    .sideNav {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: (0px - @sideNavWidth);
      width: @sideNavWidth;
    }
  }

  .sideNav,
  .mapContainer {
    transition: all 0.5s ease-in;
  }

  .mapContainer {
    position: relative;
    .tilelineContainer {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 10;
    }

    .listMenuContainer {
      position: absolute;
      top: 100px;
      left: 20px;
      z-index: 10;
    }
  }
}
