.viewContent {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #000000;

  .wrapCanvasContent {
    display: flex;
    justify-content: center;
    align-items: center;

    .canvas {
      background: #666;
    }
  }
}
