.viewContent {
    width: 1480px;
    height: 680px;
    overflow: auto;
    position: relative;
    background: #f4f5f6;
    .canvas {
        width: 680px;
        height: 480px;
        background: #666;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .spare {
        width: 680px;
        height: 480px;
        background: #000;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}