.buttonArea {
  .iconParams i {
    padding-right: 8px;
  }
}

.search {
  display: flex;
  :global {
    .ant-select {
      width: 100px;
    }
  }
}

.checkNewsInfo:hover {
  color: #0f7b3c;
  cursor: pointer;
}
