.chartBoxHalo {
  width: 80%;
  height: 130px;
  margin-top: -90px;
  margin-left: 10%;

  background: radial-gradient(circle, #3abe71 0%, #002b3e 100%);
  border-radius: 50%;
  opacity: 0.38;
  filter: blur(20px);
}
