@primary-color: #21b795;
@light-primary-color: #119562;
@dark-primark-color: #45c3a6;
@primary-font-size: 12px;
@title-font-size: 14px;
@primary-font-color: #333333;
@help-font-color: #696969;
@layout-header-bg-color: #016465;

@login-bg-color: #09897a;
@login-header-font-color: #afc5d2;
@login-header-bg-color: rgba(0,0,0,0.3);
@login-footer-bg-color: #329f92;