@primary-color: #0E7B3B;
@light-primary-color: #E4F5EB;
@bg-primary-color: #F7F7F7;

@tab-line-color: #c1c1c1;
@gray-color: #8c8c8c;
@white-color: #fff;
@red-color: #E04141;

@table-line-color: #EDEDED;
@table-select-color: #F7FDFA;
@table-thead-color: #FCFCFC;

@second-black-color: #505050;
@black-color: #1F1F1F;
@border-gray-color: #E5E5E5;