@primary-color: #0E7B3B;
@light-primary-color: #E4F5EB;
@bg-primary-color: #F7F7F7;

@tab-line-color: #c1c1c1;
@gray-color: #8c8c8c;
@gray-color-second: #C2C2C2;
@white-color: #fff;
@red-color: #E04141;
@blue-color: #5085fd;

@table-line-color: #EDEDED;
@table-select-color: #F7FDFA;
@table-thead-color: #FCFCFC;

@second-black-color: #505050;
@black-color: #1F1F1F;
@border-gray-color: #E5E5E5;

@table-status-gray: #96989F;
@table-status-orange: #D49F5B;
@table-status-green-one: #0E7B3B;
@table-status-green-two: #4DA944;
@table-status-green-three: #74AC91;
@table-status-green-four: #04D153;
@table-status-green-five: #A8D02C;