.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  background-color: @white-color;

  .filterConditionContainer {
    .filterConditionItem {
      margin-bottom: 16px;
    }
  }

  .actionContainer {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
  }
}

.collapse :global(.ant-collapse-content-box) {
  padding: 0 0;
}
