.processListItem {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  .processListRanking {
    height: 22px;
    margin-right: 7px;
    padding-top: 3px;
  }
  .processListName {
    width: 160px;
    height: 22px;
    margin-right: 20px;
    overflow: hidden;
    font-size: 13px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .processListRate {
    flex: 1;
    padding-top: 4px;
    text-align: right;
  }
}
