.projectProcessItem {
    background-color: @white-color;
    .projectProcessItemTime {
        font-size: 12px;
        color: @gray-color;
        margin-bottom: 7px;
        padding: 10px 16px 0px 16px;
    }
    .projectProcessItemTitle {
        color: @black-color;
        font-size: 12px;
        padding: 0px 16px 10px 16px;
    }
    .usersInfo {
        border-top: 1px solid @tab-line-color;
        padding: 10px 16px;
        .userItem {
            display: inline-block;
            margin-bottom: 10px;
            width: 200px;
            .userItemLabel {
                display: inline-block;
                font-size: 13px;
                color: @gray-color;
                margin-right: 10px;
                // width: 40px;
            }
            .userItemContent {
                display: inline-block;
            }
        }
        .nextRow{
            height: 1px;
        }
    }
}