.footerContainer {
  // position: absolute;
  // bottom: 0;
  align-items: center;
  width: 100%;
  padding: 4px;
  background-color: rgba(0,0,0,.6);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: aliceblue;
  .icon {
    position: absolute;
    top: 5px;
    left: 16px;
    // background-color: rgba(0,0,0,.4);
    cursor: pointer;
    &:hover {
      color: #0e7b3b;
    }
  }
  .mapInfo {
    justify-content: end;
    padding-right: 20px;
    padding-left: 6px;
    text-align: center;
    // background-color: rgba(0,0,0,.4);
    .divider {
      display: inline-block;
      padding: 0 6px;
    }
    .link {
      cursor: pointer;
      &:hover {
        color: #0e7b3b;
        text-decoration: initial;
      }
    }
  }
}
