.footerContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  align-items: center;
  .icon {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 6px;
    cursor: pointer;
    &:hover {
      color: salmon;
    }
  }
  .mapInfo {
    justify-content: end;
    padding-right: 20px;
    padding-left: 6px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    .divider {
      display: inline-block;
      padding: 0 6px;
    }
    .link {
      cursor: pointer;
      &:hover {
        color: salmon;
        text-decoration: initial;
      }
    }
  }
}
