.addMinus {
  display: flex;
  align-items: baseline;
  .clickArea {
    display: flex;
    width: 132px;
    height: 33px;
    border: 1px solid #e5e5e5;
    .minusBtn {
      width: 32px;
      line-height: 33px;
      text-align: center;
      cursor: pointer;
    }
    .numberArea {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      :global {
        .ant-input {
          height: 33px;
          text-align: center;
        }
      }
    }
    .addBtn {
      width: 32px;
      line-height: 33px;
      text-align: center;
      cursor: pointer;
    }
  }
}
