.mapChartComponent {
  width: 100%;
  height: 100%;

  .mapChartComponentTipInfo {
    height: 96px;
    display: flex;

    .mapChartComponentProjectNumber {
      width: 218px;
      height: 204px;
      z-index: 10001;
      margin-right: 50px;
      .projectNumberWrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 6px;
        color: @white-color;
        height: 134%;
        .project1,
        .project2 {
          padding-top: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .number {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
          }
          .exportButton {
            background-color: #0076FF;
            width: 100%;
            animation: all 1s linear;
            &:hover {
              background-color: #0d7eff;
            }
          }
        }
      }
      // .projectTotalNumber {
      //   padding-left: 17px;
      //   display: flex;

      //   .projectTotalNumberIcon {
      //     img {
      //       width: 28px;
      //     }
      //   }

      //   .projectTotalNumberShow {
      //     line-height: 28px;
      //     font-size: 32px;
      //     padding-left: 16px;
      //     display: inline-block;
      //     color: @primary-color;
      //     font-weight: 600;
      //     background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(255, 255, 255, 1)), to(rgba(3, 217, 135, 1)));
      //     -webkit-background-clip: text;
      //     -webkit-text-fill-color: transparent;
      //   }

      //   .projectTotalNumberUnit {
      //     font-size: 18px;
      //     color: @white-color;
      //     padding-left: 9px;
      //     line-height: 34px;
      //   }

      //   .exportButton {
      //     padding-right: 14px;
      //   }
      // }
    }

    .mapChartComponentProjectAreaTab {
      width: 101px;
      height: 39px;
      background-color: rgba(255, 255, 255, 0.1);
      color: @index-map-font-color;
      font-size: 14px;
      line-height: 39px;
      text-align: center;
    }

    .splineIcon {
      margin: 0 3px;
    }

    .hasChoose {
      cursor: pointer;
      color: #2AFE97;
    }
  }

  .mapStatisticContent {
    flex: 1;
    width: 100%;
    height: calc(100% - 96px);
    // height: 200px;
    justify-content: center;
    position: relative;


    .mapStatisticContentDataSplit {

      width: 300px;
      height: 50px;
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 11px;
      background-color: rgba(255, 255, 255, 0.1);
      z-index: 10000;
      .dataSplitContent {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 10px 16px;

        .dataSplitContentHalo {
          width: 80%;
          height: 100px;
          border-radius: 50%;
          margin-top: -90px;
          margin-left: -35%;
          position: absolute;
          background: radial-gradient(circle, #3ABE71 0%, #002B3E 100%);
          opacity: 0.8;
          filter: blur(15px);
        
        }
        .dataSplitMenu {
          display: flex;
          justify-content: space-between;
          .dataSplitMenuItem {
            display: flex;
            flex-direction: column;

            color: @white-color;
            .dataSplitMenuItemIcon {
              display: inline-block;
              width: 16px;
              height: 8px;
              margin-right: 20px;
              &.orange {
                background-color: @map-chart-split-orange;
              }
              &.lightGreen {
                background-color: @map-chart-split-light-green;
              }
              &.green {
                background-color: @map-chart-split-green;
              }
              &.blue {
                background-color: @map-chart-split-blue;
              }
            }
          }
        }
      }
    }

    .mapConent {
      width: 100%;
      height: 100%;
    }
  }
}
