.singleStatistics {
    width: 98px;
    .singleStatisticsTitle {
        font-size: 13px;
        color: @gray-color;
        font-weight: 400;
        display: flex;
        line-height: 1;
        .singleStatisticsTitleWord {
            flex: 1;
        }
        .singleStatisticsTitleToIcon {
            font-size: 13px;
        }
    }
    .singleStatisticsContent {
        padding-top: 10px;
        display: flex;
        .singleStatisticsIcon {
            margin-right: 7px;
            font-size: 0;
            line-height: 1;
            padding-top: 2px;
            img {
                width: 28px;
                height: 28px;
            }
        }
        .singleStatisticsNumber {
            color: @black-color;
            font-size: 26px;
            font-weight: bold;
            line-height: 1;
            flex: 1;
            padding-top: 4px;
        }
        .singleStatisticsUnit {
            font-size: 13px;
            color: @gray-color;
            padding-top: 10px;
        }
    }
}