.fileUploadContent {
    :global {
        .ant-upload-drag {
            border: 1px solid @table-line-color;
            .ant-upload-btn {
                padding: 4px 0;

            }
        }
    }
    .fileUploadTip {
        overflow: hidden;
        font-size: 13px;
        color: @gray-color;
    }
    .fileUploadIcon {
        font-size: 16px;
        margin-right: 8px;
    }
    width: 100%;
    // flex: 1;
}