.versionItem {
  padding-bottom: 15px;
  .versionItemTitle {
    font-size: 16px;
  }
  .versionNumber {
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
  }
  .versionItemContent {
    padding-left: 10px;
    color: #8d8b8e;
    font-size: 15px;
    white-space: pre-wrap;
  }
  .historyVersion {
    display: flex;
    padding-left: 10px;
    color: #54a4e7;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
  }
}
