.companyTable {
  width: 100%;
  height: 100%;
  padding: 0px 13px 16px 16px;

  :global {
    .ant-table {
      &.ant-table-fixed-header {
      }
      border-top: 1px solid @table-line-color;

      .ant-table-container {
        border-color: @table-line-color !important;

        .ant-table-measure-row {
          td {
            height: 0 !important;
          }
        }
        td,
        th {
          border-color: @table-line-color !important;
        }

        thead {
          th {
            height: 38px !important;
            padding: 12px 4px 12px 10px;
            color: @black-color;
            font-weight: 500;
            font-size: 13px;
            line-height: 1 1 !important;
            background-color: @table-thead-color;
          }
        }

        tbody {
          td {
            height: 38px !important;
            padding: 7px 4px 10px 7px;
            color: @gray-color;
            font-size: 13px;
            line-height: 1 !important;
          }
        }

        .ant-table-row-selected {
          td {
            background-color: @table-select-color !important;
          }
        }
      }

      .ant-table-summary {
        td,
        th {
          border-color: @table-line-color !important;
        }

        td {
          height: 38px;
          padding: 7px 4px 10px 7px;
          color: @gray-color;
          font-size: 13px;
        }
      }
    }

    .ant-radio-inner {
      border-radius: 0 !important;
    }

    .ant-pagination.mini {
      color: @gray-color;
      font-size: 12px;

      .ant-pagination-options {
        .ant-select-selection-item {
          font-size: 12px;
        }
      }
    }
  }
}
