// .externalModal {
//   :global {
//     .ant-checkbox-wrapper {
//       margin-right: 490px;
//     }
//   }
// }
.noExternalTitle {
  margin-right: 550px;
  color: #2286ff;
  cursor: pointer;
}
.needExternalTitle {
  margin-right: 550px;
  color: #aeaeae;
}
