.layoutHeaderMenuItemContent {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  .layoutHeaderMenuItem {
    height: 39px;
    color: @gray-color;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    line-height: 39px;

    .layoutHeaderMenuItemIcon {
      font-size: 16px;
      text-align: center;
    }

    .layoutHeaderMenuItemName {
      text-align: center;
    }
  }
}
