.tableSearchComponent {
  display: flex;
  width: 100%;
  .tableSearchLabel {
    flex-shrink: 0;
    padding-right: 8px;
    color: @second-black-color;
    font-size: 13px;
    line-height: 31px;
  }
  .tableSearchContent {
    flex: 1;
    overflow: hidden;
  }
}
