.tableSearchComponent {
    width: 100%;
    display: flex;
    .tableSearchLabel {
        font-size: 13px;
        color: @second-black-color;
        flex-shrink: 0;
        line-height: 31px;
        padding-right: 8px;
    }
    .tableSearchContent {
        flex: 1;
    }
}