.titleWindow {
  width: 100%;
  height: 100%;
  background-color: @white-color;
  .titleWindowHeader {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: @title-window-title-color;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
  }
  .titleWindowContent {
    width: 100%;
    height: calc(100% - 48px);
  }
}
