.titleWindow {
    width: 100%;
    height: 100%;
    background-color: @white-color;
    .titleWindowHeader {
        width: 100%;
        padding-top: 20px;
        padding-left: 20px;
        font-size: 13px;
        color: @title-window-title-color;
        line-height: 18px;
        padding-bottom: 10px;
        font-weight: 600;
    }
    .titleWindowContent {
        width: 100%;
        min-height: calc(100% - 48px);
    }
}