.batchEditEngineerInfoTable {
    display: flex;
    .batchEditEngineerTableContent {
        flex: 1;
        margin-right: 30px;
    }
    .batchEditProjectTable {
        width: 480px;
    }
    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid @table-line-color;
        thead {
          th {
            border-right: 1px solid @table-line-color;
            border-bottom: 1px solid @table-line-color;
            padding: 6px 10px;
    
            &.checkboxTh {
              width: 44px;
            }
          }
        }
    
        tbody {
          td {
            border-right: 1px solid @table-line-color;
            border-bottom: 1px solid @table-line-color;
            padding: 6px 10px;
            color: @gray-color;
            overflow: hidden;
            :global {
                .ant-form-item {
                    margin-bottom: 0px !important;
                }
            }
          }
        }
      }
}