.toDoItem {
  width: 100%;
  height: 100%;
  text-align: center;
  .toDoItemIcon {
    width: 100%;
    margin-bottom: 16px;
    line-height: 1;
    img {
      display: inline-block;
      width: 50px;
      height: 50px;
    }
  }
  .toDoItemNumber {
    color: @white-color;
    font-size: 33px;
    line-height: 1;
  }
  .toDoItemStatus {
    margin-top: 7px;
    color: @index-to-do-item-color;
    font-size: 11px;
    line-height: 1;
  }
}
