.container {
  height: 100%;
  .projectControl {
    display: flex;
    height: 16px;
    margin-bottom: 10px;

    .flex1 {
      flex: 1;
    }
    .tabs {
      display: flex;
      justify-content: start;
    }
  }
  .content {
    display: flex;
    height: calc(100% - 26px);
  }
}
