.mapBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.timeline {
  position: absolute;
  top: 16px;
  left: 16px;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-touch-callout: none;
}

.sideMenuTree {
  height: calc(100% - 30px);
  position: absolute;
  top: 20px;
  // left: -220px;
  left: 13px;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-touch-callout: none;
  transition: left linear .2s;
}
.open {
  left: 13px;
}
.close {
  left: -220px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
.listMenu {
  position: absolute;
  top: 120px;
  left: 16px;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-touch-callout: none;
}

.mapDisplay {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 151px;
  // // background-color: red;
  // /* iOS Safari */
  // -webkit-user-select: none;
  // /* Chrome/Safari/Opera */
  // -khtml-user-select: none;
  // /* Konqueror */
  // -moz-user-select: none;
  // /* Firefox */
  // -ms-user-select: none;
  // /* Internet Explorer/Edge */
  // user-select: none;
  // -webkit-touch-callout: none;
}

@media (min-width: 1024px) {
  .controlLayer {
    position: absolute;
    top: 100px;
    right: 16px;
    width: atuo;
  }

  .mapDisplay {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

@media (min-width: 1366px) {
  .controlLayer {
    position: absolute;
    top: 100px;
    right: 16px;
    width: atuo;
  }

  .mapDisplay {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

@media (min-width: 1440px) {
  .controlLayer {
    position: absolute;
    top: 100px;
    right: 16px;
    width: atuo;
  }

  .mapDisplay {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

@media (min-width: 1680px) {
  .controlLayer {
    position: absolute;
    top: 423px;
    left: 16px;
    width: atuo;
  }

  .mapDisplay {
    position: absolute;
    top: 560px;
    left: 16px;
  }
}
@media (min-width: 1920px) {
  .controlLayer {
    position: absolute;
    top: 423px;
    left: 16px;
    width: atuo;
  }

  .mapDisplay {
    position: absolute;
    top: 560px;
    right: 16px;
  }
}
