.loginFormTitle {
  margin-bottom: 10px;
  color: @primary-color;
  font-size: 20px;
  .welcomeTitle {
    margin-right: 16px;
  }
}

.loginTypeTabs {
  :global {
    .ant-tabs {
      .ant-tabs-nav {
        height: 53px;

        &::before {
          display: none;
        }
      }

      .ant-tabs-tab {
        margin-right: 44px;
        color: @gray-color;
        font-size: 13px;

        &.ant-tabs-tab-active {
          .ant-tabs-tab-btn {
            color: @black-color;
            font-weight: 400;
            font-size: 16px;
          }

          position: relative;

          &::before {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 38px;
            height: 3px;
            margin-left: -19px;
            background-color: @primary-color;
            border-radius: 3px;
            content: ' ';
          }
        }
      }

      .ant-tabs-ink-bar {
        display: none;
      }
    }
  }

  .loginInput {
    height: 44px;

    :global {
      .ant-input {
        font-size: 13px;
      }
    }
  }

  .accountInput,
  .phoneInput {
    height: 68px;
    margin-top: 15px;
    margin-bottom: 2px;
  }

  .passwordInput,
  .verificationCode {
    height: 68px;
    margin-bottom: 6px;
  }

  .loginButton {
    width: 100%;
    height: 53px;
    font-weight: 400;
    font-size: 16px;
  }
}
