.chapterInfoWrap {
  .contentWrap {
    margin-top: 20px;
    word-wrap: break-word;

    word-break: normal;
  }
  padding: 20px;
  .buttonArea {
    display: flex;
    justify-content: flex-end;
  }
}
