.sideMenuContainer {
  position: relative;
  height: 100%;
  .sideMenu {
    height: 100%;
    padding: 8px;
    overflow: hidden;
    background-color: inherit;
  }

  .loading {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.tabPane :global(.ant-tabs-tab) {
  margin: 0;
}
