.sideTree {
  position: relative;
  height: 100%;
  .sideTreeTitle {
    margin-bottom: 6px;
    margin-left: 8px;
    font-size: 18px;
  }
  .tabBar {
    display: flex;
    justify-content: space-evenly;

    text-align: center;
    .tabBarItem {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
    }
  }
  .sideMenu {
    height: 100%;
    padding: 8px;
    padding-left: 0;
    overflow: hidden;
    background-color: #ebedee;
  }

  .loading {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .areaButtons{
    display: flex;
    justify-content: space-between;
    .areaButtonsItem{
      width: 100%;
    }
  }
}
.treeItem {
  :global {
    .ant-tree-indent {
      width: 5px !important;
    }
  }
}
