.sideTree {
  position: relative;
  height: 100%;
  .tabBar {
    display: flex;
    justify-content: space-evenly;

    text-align: center;
    .tabBarItem {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
    }
  }
  .sideMenu {
    height: 100%;
    padding: 8px;

    overflow: hidden;
    background-color: #ebedee;
  }

  .loading {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
