.infoTabsWrap {
  // flex: 1;
  // height: 1600px;
  // text-align: left;
  // background-color: black;
  // height: 40px;
  // overflow: hidden;
  :global {
    .ant-tabs-nav-wrap {
      border-bottom: 2px solid #f5f5f5;
    }
    .ant-table-cell {
      padding: 6px 16px;
    }
  }
  .cloumns {
    background-color: #f5f5f5;
  }
  .expandIconSpan {
    margin-right: 6px;
    color: #0e7b3b;
    font-size: 17px;
    cursor: pointer;
  }
  .workContent {
    min-height: 120px;
    max-height: 340px;
    padding: 6px;
    overflow-y: auto;
    text-overflow: ellipsis;
    background-color: #f4f1f2;
  }
}
