.unitConfigTable {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 10px;
  
    .hierarchyTable {
      flex: 1;
      margin-right: 10px;
      padding: 0 8px;
      // background-color: @white-color;
      height:100%;
      :global{
        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
          padding:0 12px;
          color:#1F1F1F;
        }
        .ant-tabs-tab-btn{
          padding:0 12px;
          color:#696969;
        }
        .ant-tabs-card .ant-tabs-content {
          margin-top: -16px;
        }
        .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
          padding: 0 12px;
          background: #fff;
        }
        .ant-tabs-card > .ant-tabs-nav::before {
          display: none;
        }
        .ant-tabs-card .ant-tabs-tab{
     
          background: transparent;
          border-color: transparent;
        }
        .ant-tabs-card .ant-tabs-tab-active {
          background: #fff;
          border-color: #fff;
        }
      }
      .leftTableContent{
        height: calc(100% + 45px);
        overflow-y: auto;
        :global {
          .ant-empty {
            height:553px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  
    .addTable {
      box-sizing: border-box;
      // height: calc(50% - 10px);
      padding: 0 12px;
      background-color: @white-color;
      .hasMapAccount{
        padding-top: 5px;
        color:#a4a4a4;
        font-size:13px;
        .accountNumber{
          color:#178042
        }
      }

      .addTableContent {
        height: calc(100% + 10px);
        overflow-y: auto;
        width:948px;
        :global {
          .ant-empty {
            height:558px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  
  
  