.contentDiv {
  display: flex;
  flex: 1;
  // justify-content: space-between;
  height: 100%;
  margin-top: 5px;
  .containerLeft {
    width: 17%;
    height: 100%;
    margin-top: 22px;
    margin-right: 5px;
    // background-color: #f3f3f3;
    .containerLeftTitle {
      padding: 20px 0;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
    .listElement,
    .listActive {
      height: calc(100% -86px);
      .listElementItem {
        height: 36px;
        padding-left: 10px;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: #e4f5eb;
        }
      }
    }
    .listActive {
      color: #0e7b3b;
      background-color: #e4f5eb;
    }
  }
  .containerRight {
    width: 100%;
    height: 85vh;
    padding: 22px 10px;
    background-color: #fff;
  }
}
.containerRight {
  width: 100%;
  height: 85vh;
  padding: 22px 10px;
  background-color: #fff;
  .allCardDiv {
    display: flex;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #fff;
    .cardDiv {
      padding: 0px 20px 20px 0px;
      overflow-x: hidden;
      overflow-y: scroll;
      // box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16), 0px 0px 0px 0px rgba(0, 0, 0, 0.16),
      //   1px 0px 0px 0px rgba(0, 0, 0, 0.16), 0px 0px 0px 0px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    }
    .cardDiv::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    .cardDiv::-webkit-scrollbar-track {
      background: fff;
      border-radius: 2px;
    }
    .cardDiv::-webkit-scrollbar-thumb {
      background: #bfbfbf;
      border-radius: 10px;
    }
  }
}

.treeCard {
  // width: 100%;
  // height: 100%;
  padding: 10px;
  .treeCardContent {
    display: flex;
    width: 100%;
    height: 100%;
    // background-color: #fafbfc;
  }
}
.card {
  // margin-left: 10px;
  padding: 20px 0 20px 10px;
  .cardItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 30px 10px 10px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    .cardName {
      color: #1f1f1f;
      font-weight: 500;
      font-size: 14px;
      font-family: Source Han Sans CN;
      opacity: 1;
    }
    .rightDiv {
      margin-left: 8px;
    }
    .formula {
      margin-left: 33px;
      color: #8c8c8c;
      font-size: 16px;
    }
  }
  .otherCardItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    .cardName {
      color: #1f1f1f;
      font-weight: 500;
      font-size: 14px;
      font-family: Source Han Sans CN;
      opacity: 1;
    }
    .rightDiv {
      margin-left: 8px;
    }
    .formula {
      margin-left: 33px;
      color: #8c8c8c;
      font-size: 16px;
    }
  }
  .cardItemTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px 10px 10px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    .cardName {
      flex: 1;
      min-width: 150px;
    }
    .formula {
      flex: 1;
      min-width: 150px;
      margin-left: 20px;
      color: #8c8c8c;
      font-size: 14px;
      .formulaContent {
        display: flex;
        justify-content: start;
      }
    }
  }
  .otherCardItemTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    .cardName {
      flex: 1;
      min-width: 150px;
    }
    .formula {
      flex: 1;
      min-width: 150px;
      margin-left: 20px;
      color: #8c8c8c;
      font-size: 14px;
      .formulaContent {
        display: flex;
        justify-content: start;
      }
    }
  }
  .otherCardItemTwo:hover {
    background-color: #e4f5eb;
  }
  .cardItem:hover {
    background-color: #e4f5eb;
  }
  .otherCardItem:hover {
    background-color: #e4f5eb;
  }
  .cardItemTwo:hover {
    background-color: #e4f5eb;
  }
  .selectCardItem {
    position: relative;
    left: 21px;
    z-index: 9999 !important;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 30px 10px 10px;
    color: #0e7b3b;
    background: #ffffff;
    border-radius: 0px;
    // box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.16), 0px -1px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    opacity: 1;
    .rightDiv {
      margin-left: 8px;
    }
  }
}
.contentCard {
  margin-left: 10px;
  .cardItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    padding: 5px;
    .rightDiv {
      min-width: 100px;
      margin-left: 20px;
    }
  }
}
