.projectStatisticsComponent {
    width: 100%;
    height: 100%;
    display: flex;
    .projectStatisticsChart {
        flex: 1;
    }
    .projectStatisticsOther {
        width: 180px;
        padding-left: 60px;
    }
}