.projectDetailInfo {
  :global {
    .ant-tabs-nav {
      margin-bottom: 0px;
    }
    .ant-tabs-nav {
      padding-left: 20px;
    }
  }
  .amountWork {
    padding: 25px;
    font-size: 14px;
    white-space: pre-wrap;
    background-color: @bg-primary-color;
  }
}
