.projectDetailInfo {
  :global {
    .ant-tabs-nav {
      margin-bottom: 0px;
    }
    .ant-tabs-nav {
      padding-left: 20px;
    }
  }
  .amountWork {
    height: 100%;
    padding: 25px;
    font-size: 14px;
    white-space: pre-wrap;
    background-color: @bg-primary-color;
  }
  .unread {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 3px;
    vertical-align: super;
    background-color: red;
    border-radius: 50%;
  }
}
