.numberStatisticsComponent {
  .numberStatisticsComponentTitle {
    font-size: 12px;
    color: @number-statistics-component-title-color;
    margin-bottom: 12px;
  }

  .numberStatisticsComponentNumber {
    line-height: 1;

    .number {
      color: @title-window-title-color;
      font-size: 28px;
      font-weight: 600;
      margin-right: 10px;
    }

    .unit {
      font-size: 12px;
      color: @number-statistics-component-title-color;
    }
  }
}
