.projectProcessItem {
    background-color: @white-color;
    .projectProcessItemTime {
        font-size: 12px;
        color: @gray-color;
        margin-bottom: 7px;
        padding: 10px 16px 0px 16px;
    }
    .projectProcessItemTitle {
        color: @black-color;
        font-size: 12px;
        padding: 0px 16px 10px 16px;
    }
    .usersInfo {
        border-top: 1px solid @tab-line-color;
        padding: 10px 16px;
        .userItem {
            display: flex;
            margin-bottom: 10px;
            .userItemLabel {
                font-size: 13px;
                color: @gray-color;
                width: 60px;
            }
            .userItemContent {
                flex: 1;
            }
        }
    }
}