.projectManagement {
    background-color: @bg-primary-color;
    width: 100%;
    height: 100%;
    .projectManagemnetSearch {
        height: 71px;
        padding: 20px;
        box-sizing: border-box;
        background-color: @white-color;
        margin-bottom: 13px;
        .projectManagemnetSearchButtonContent {
            width: 118px;
            flex-shrink: 0;
        }
    }
    .projectManagementStatistic {
        height: 90px;
        padding: 20px;
        box-sizing: border-box;
        background-color: @white-color;
        margin-bottom: 11px;
        .projectManagementStatisticItem {
            border-left: 1px solid @split-color;
            padding-left: 10px;
            flex: 1;
            cursor: pointer;
        }
    }
    .projectManagementTable {
        height: calc(100% - 192px);
        background-color: @white-color;
        padding: 20px 20px 0px 20px;
        .projectManagementTableContent {
            width: 100%;
            padding-top: 8px;
            box-sizing: border-box;
            height: calc(100% - 36px);
        }
    }
}