.favHeader {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin: -20px;
  padding: 20px;
  color: #8c8c8c;
  font-size: 15px;
  border-bottom: 1px solid #c1c1c1;
  .favTitle {
    height: 30px;
    line-height: 30px;
  }
}
