.engineerList {
  position: relative;
  .favHeader {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: -20px;
    padding: 20px;
    color: #8c8c8c;
    font-size: 15px;
    border-bottom: 1px solid #f7f7f7;
    .favTitle {
      height: 30px;
      line-height: 30px;
    }
  }
  .favContent {
    margin-top: 35px;
  }
  .favFooter {
    position: absolute;
    top: calc(100vh - 266px);
    width: 112%;
    margin: -20px;
    padding: 18px;
    color: #8c8c8c;
    text-align: right;
    border-top: 1px solid #f7f7f7;
  }
}
