.engineerList {
  position: relative;
  .favHeader {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: -20px;
    padding: 20px;
    color: #8c8c8c;
    font-size: 15px;
    border-bottom: 1px solid #f7f7f7;
    .favTitle {
      height: 30px;
      line-height: 30px;
    }
  }
  .favEmpty {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66vh;
    margin-top: 35px;
    color: #8c8c8c;
    .createTips {
      position: absolute;
      right: 60px;
      bottom: 60.5vh;
    }
  }
  .favTree {
    height: 66vh;
    margin-top: 35px;
    :global {
      .ant-tree {
        margin: -20px;
      }
      .ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
      .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
        background: #e4f5eb;
      }
      .ant-tree.ant-tree-directory
        .ant-tree-treenode
        .ant-tree-node-content-wrapper.ant-tree-node-selected,
      .ant-tree.ant-tree-directory .ant-tree-treenode-selected .ant-tree-switcher,
      .ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-switcher {
        color: black;
        line-height: 46px;
      }
      .ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {
        line-height: 42px;
      }
    }
  }
  .favFooter {
    position: absolute;
    top: calc(100vh - 266px);
    width: 112%;
    margin: -20px;
    padding: 18px;
    color: #8c8c8c;
    text-align: right;
    border-top: 1px solid #f7f7f7;
  }
}
