// .externalModal {
//   :global {
//     .ant-checkbox-wrapper {
//       margin-right: 490px;
//     }
//   }
// }
.noExternalTitle{
  color:#2286ff;
  margin-right:550px;
  cursor: pointer;
}
.needExternalTitle{
  color:#aeaeae;
  margin-right:550px;
 
}