.typeSelect {
  :global {
    .ant-select {
      .ant-select-selector {
        height: 16px;

        .ant-select-selection-item {
          color: @index-to-do-item-color;
          font-size: 10px;
          line-height: 16px;
        }
      }

      .ant-select-arrow {
        color: @index-to-do-item-color;
      }
    }
  }
}
