.barContent {
  height: 92%;
  padding: 15px 20px 0px 20px;

  .barTitle {
    color: #2afc96;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }

  :global {
    .ant-spin-nested-loading {
      height: 92%;
    }

    .ant-spin-container {
      height: 100%;
    }
  }
}
