.lineContent {
  padding: 15px 20px 0px 20px;

  .chart {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  .title {
    color: #1f9c55;
    font-weight: bold;
    font-size: 32px;
  }

  .account {
    display: flex;
    justify-content: space-around;
    height: 90px;
    margin: 0 -20px;
    background-color: @white-color;
  }
}
