.barContent {
  padding: 15px 20px 0px 20px;

  .chart {
    display: flex;
    justify-content: space-between;
  }

  .barTitle {
    color: #1f9c55;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }
}
