.chartItem {
  position: relative;
  flex: 1;
  height: 100%;
  .title {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    color: @index-chart-title-color;
    font-size: 12px;
    text-align: center;
  }
}
