.versionManageBox {
  .miniColumn {
    height: 16px;
    padding: 2px 6px !important;
    background: red !important;
  }
  :global .ant-table-tbody .ant-table-row .ant-table-cell {
    padding: 2px 8px !important;
  }
  .column {
    background: red;
  }
}
