.filePDFReactWrapper {
  width: 1800px;
  height: 800px;

  .viewWrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(154, 205, 50, 0.4);
    .div1 {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: rgba(248, 114, 114, 0.2);
    }
    .div2 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 1400px;
      height: 600px;
      margin: auto;
      background-color: rgba(1, 248, 114, 0.4);
    }
  }
}
