.feedBackForm {
  .feedBackInfo {
    border-bottom: 1px solid @border-gray-color;
  }
  .handleInfo {
    padding: 16px 0 4px 0;
    border-bottom: 1px solid @border-gray-color;
    .replyItem {
      margin-bottom: 12px;
    }
  }
  .handleForm {
    padding-top: 16px;
  }
}
