.cockpitMenuItem {
    padding-left: 8px;
    .cockpitMenuItemTitle {
        display: flex;
        color: @black-color;
        .cockpitMenuItemFoldIcon {
            font-size: 16px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            color: @primary-color;
            text-align: center;
            line-height: 32px;
        }
        .cockpitMenuTitleContent {
            flex: 1;
            line-height: 32px;
            font-size: 14px;
        }
        .cockpitMenuAddButtonSlot {
            padding-right: 6px;
            :global {
                .ant-btn-text {
                    span {
                        color: @can-click-color;
                    }
                }
            }
        }
    }
    .cockpitMenuItemContent {
        padding-left: 33px;
        .cockpitMenuChildrenItem {
            font-size: 13px;
            padding: 6px 0px;
            color: @gray-color;
        }
    }
}