.checkSourceWrap {
  position: absolute;
  right: -3px;
  bottom: 95px;
  width: 200px;
  height: 92px;
  padding: 6px 10px;
  background-color: #fff;
  border-radius: 4px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .close {
      cursor: pointer;
    }
  }
}
