.removalTitle {
  color: #f24b4b;
  letter-spacing: 0.2px;
}
.checkMergeTips {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  .checkIcon {
    display: flex;
    align-items: center;
  }
}
