.allCheckContent {
  margin-bottom: 16px;
}
.configContent {
  width: 100%;
  padding-left: 20px;
}
.allCheckboxContent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .checkboxItemContent {
    width: 50%;
    margin-bottom: 16px;
    color: #505050;
  }
}
.mustCheckItem {
  color: #505050;
  .mustCheckItemIcon {
    margin-right: 8px;
    color: #c1c1c1;
    font-size: 18px;
  }
}
