.open {
  color: #0076ff;
}
.close {
  color: #3e3e3e;
}
.object {
  display: flex;
  display: flex;
  justify-content: space-between;
  .name {
  }
  .readInfo {
    flex-basis: 280px;
    color: #3e3e3e;
    text-align: right;
    .readPerson {
      color: #000;
    }
  }
}
