.open{
  color: #0076FF;
}
.close {
  color: #3e3e3e;
}
.object {
  display: flex;
  justify-content: space-between;
  display: flex;
  .name {

  }
  .readInfo {
    text-align: right;
    flex-basis: 280px;
    color: #3e3e3e;
    .readPerson {
      color: #000;
    }
  }
}