.content {
  padding: 8px;

  .title {
    text-indent: 10px;
    border-left: 2px solid green;
  }

  .current {
    margin-top: 8px;
    margin-left: 12px;

    .currnetName {
      margin-left: 10px;
      color: dodgerblue;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .update {
    display: flex;
    margin-left: 12px;
    line-height: 30px;
    .updateChild {
      display: inline-block;
      width: 400px;
    }
  }
  .manualPreviewBox {
    width: 90%;
    height: 80vh;
    overflow-y: auto;
  }
}
