.fileUploadWrap {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  .improtText {
    display: inline-block;
    flex-shrink: 0;
    width: 40px;
    margin-right: 6px;
    line-height: 30px;
  }
  .fileUpload {
    flex: 1;
    overflow: hidden;
  }
}

.buttonArea {
  display: flex;
  justify-content: space-around;
}

:global {
  .ant-table-tbody > tr > td {
    padding: 3px 16px;
  }
}
