.commonTitle {
    padding-bottom: 12px;
    .commonTitleIcon {
        display: inline-block;
        width: 2px;
        height: 13px;
        background-color: @primary-color;
        vertical-align: middle;
        margin-right: 8px;
        margin-top: -4px;
    }
    .commonTitleWord {
        font-size: 13px;
        font-weight: 500;
        color: @black-color;
        line-height: 24px;
    }
}