.commonTitle {
  padding: 12px 0;
  .commonTitleIcon {
    display: inline-block;
    width: 2px;
    height: 13px;
    margin-top: -4px;
    margin-right: 8px;
    vertical-align: middle;
    background-color: @primary-color;
  }
  .commonTitleWord {
    color: @black-color;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
  }
}
