.searchArea {
  display: flex;
  :global {
    .ant-select {
      width: 140px;
    }
  }
}
.buttonArea {
  display: flex;
  .importBtn {
    margin-right: 7px;
  }
}

.electrical {
  height: 100%;
  :global {
    .ant-spin-container {
      width: 132%;
    }
  }
}
