.searchArea {
  display: flex;
  :global {
    .ant-select {
      width: 180px;
    }
  }
}
.buttonArea {
  display: flex;
  .importBtn {
    margin-right: 7px;
  }
}

.material {
  height:100%;
  :global {
    .ant-spin-container {
      width: 232%;
    }
  }
}
