.indexBack{
  background: #F7F7F7;
  .mainInfo{
    overflow: hidden;
    margin-top: 12px;
    display: flex;
    .leftContent{
      width: 75%;
      height: 73vh;
      margin-right: 12px;
      //background: white;
      .leftContentTop{
        height: 320px;
        display: flex;
        .lineChart{
          padding: 16px;
          padding-bottom: 10px;
          background: white;
          width: 70%;
          margin-right: 12px;
        }
        .circleChart{
          padding: 16px;
          padding-bottom: 10px;
          width: 30%;
          background: white;
        }
      }
      .leftTable{
        margin-top: 12px;
        height: 100%;
        background: #f0c49b;
      }
    }
    .RightContent{
      height: 73vh;
      background: #f0c49b;
      width: 25%;
      //background: white ;
    }
  }
}
