.identityHead {
  display: flex;
  align-items: center;
  padding: 20px 0 0;
  .checkboxItem {
    padding-right: 20px;
  }
}

.identityTable {
  :global {
    .ant-table.ant-table-bordered > .ant-table-container {
      border: none;
    }
    .ant-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(62vh - 127px);
    }
  }
}
