.projectTableItem {
  font-size: 0;
  line-height: 1;

  .tooltip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .projectTitle {
    display: flex;
    height: 33px;
    font-size: 13px;
    background-color: @table-thead-color;
    border-right: 1px solid @table-line-color;
    border-bottom: 1px solid @table-line-color;
    border-left: 1px solid @table-line-color;
    .foldButton {
      width: 44px;
      height: 33px;
      font-size: 14px;
      line-height: 33px;
      text-align: center;
      border-right: 1px solid @table-line-color;
      cursor: pointer;
    }
    .projectName {
      flex: 2;
      height: 26px;
      padding-top: 8px;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    .projectTime {
      width: 20.45%;
      padding-top: 8px;
      padding-left: 10px;

      color: @black-color;
    }
    .projectAccount {
      width:20.45%;
      padding-left:8px;
      padding-top: 8px;
    }
    .createTime {
      width: 25.45%;
      padding-top: 8px;
      padding-left: 10px;
      color: @black-color;
    }
    .label {
      color: @gray-color;
    }

    .projectButtons {
      width: calc(8% + 60px);
      padding-right: 20px;
      text-align: right;
      :global {
        .ant-btn {
          height: 28px !important;
          margin-top: 2px;
          line-height: 1 !important;
        }
      }
    }
  }
  :global {
    .ant-checkbox-group {
      width: 100%;
      line-height: 1;
    }
  }
  .engineerTable {
    &.foldClassName {
    }
    .engineerTableContent {
      width: 100%;
      border-left: 1px solid @table-line-color;
      .engineerTableHeader {
        display: flex;
        width: 100%;
        .engineerTableTh {
          padding-top: 11px;
          padding-bottom: 11px;
          padding-left: 10px;
          border-right: 1px solid @table-line-color;
          border-bottom: 1px solid @table-line-color;
          &.checkboxTh {
            width: 44px;
          }
        }
      }
      .engineerTableBody {
        .engineerTableTr {
          display: flex;
        }
        .engineerTableTd {
          padding-top: 11px;
          padding-bottom: 11px;
          padding-left: 10px;
          color: @gray-color;
          word-break: break-all;
          border-right: 1px solid @table-line-color;
          border-bottom: 1px solid @table-line-color;
        }
      }
    }
  }
  .noEngineerData {
    border-right: 1px solid @table-line-color;
    border-bottom: 1px solid @table-line-color;
    border-left: 1px solid @table-line-color;
  }
}
