.projectTableItem {
    font-size: 0;
    line-height: 1;
   
    .projectTitle {
        display: flex;
        background-color: @table-thead-color;
        height: 33px;
        border-left: 1px solid @table-line-color;
        border-right: 1px solid @table-line-color;
        border-bottom: 1px solid @table-line-color;
        font-size: 13px;
        .foldButton {
            width: 44px;
            height: 33px;
            text-align: center;
            line-height: 33px;
            font-size: 14px;
            cursor: pointer;
            border-right: 1px solid @table-line-color;
        }
        .projectName {
            flex: 2;
            padding-left: 10px;
            padding-top: 8px;
         
        }
        .projectTime {

            width: 26.45%;
            padding-left: 10px;
            padding-top: 8px;
    
            color: @black-color;
        }
        .createTime {
            width: 26.45%;
            padding-left: 10px;
            padding-top: 8px;
            color: @black-color;
        }
        .label {
            color: @gray-color;
        }

        .projectButtons {
            width: calc(8% + 60px);
            text-align: right;
            padding-right: 20px;
            :global {
                .ant-btn {
                    height: 28px !important;
                    line-height: 1 !important;
                    margin-top: 2px;
                }
            }
        }
    }
    :global {
        .ant-checkbox-group {
            line-height: 1;
            width: 100%;
        }
    }
    .engineerTable {
        &.foldClassName {

        }
        .engineerTableContent {
            width: 100%;
            border-left: 1px solid @table-line-color;
            .engineerTableHeader {
                display: flex;
                width: 100%;
                .engineerTableTh {
                    border-right: 1px solid @table-line-color;
                    border-bottom: 1px solid @table-line-color;
                    padding-left: 10px;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    &.checkboxTh {
                        width: 44px;
                    }
                }
            }
            .engineerTableBody {
                .engineerTableTr {
                    display: flex;
                }
                .engineerTableTd {
                    border-right: 1px solid @table-line-color;
                    border-bottom: 1px solid @table-line-color;
                    padding-left: 10px;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    color: @gray-color;
                }
            }
        }
    }
    .noEngineerData {
        border-left: 1px solid @table-line-color;
        border-bottom: 1px solid @table-line-color;
        border-right: 1px solid @table-line-color;
    }
}