.monitorManage {
  width: 100%;
  height: 100%;
  padding: 0 18px;

  .monitorCondition {
    display: flex;

    .monitorSelect {
      flex: 1;

      :global {
        .ant-select {
          .ant-select-selector {
            height: 16px;

            .ant-select-selection-item {
              color: @index-to-do-item-color;
              font-size: 10px;
              line-height: 16px;
            }
          }

          .ant-select-arrow {
            color: @index-to-do-item-color;
          }
        }
      }
    }
  }

  .monitorChart {
    width: 100vw;
    height: 64vh;
    // overflow: scroll
  }

  .monitorTime {
    display: flex;
    height: 16px;

    .monitorChooseLabel {
      padding-right: 14px;
      padding-left: 18px;
      color: @table-status-green-three;
      font-size: 11px;
      line-height: 20px;
    }

    .monitorChooseTime {
      width: 196px;
      height: 20px;
      padding-right: 16px;
      padding-left: 4px;
      background-color: @time-choose-input-bg;

      :global {
        .ant-picker {
          height: 16px;
          padding: 0;
          line-height: 1;
          border: none;

          .ant-picker-input {
            height: 16px;

            input {
              height: 16px;
              color: @index-to-do-item-color;
              font-size: 12px;
              line-height: 1;
            }
          }

          .ant-picker-active-bar {
            display: none;
          }

          .ant-picker-suffix {
            color: @index-to-do-item-color;
          }

          .anticon-swap-right {
            color: @index-to-do-item-color;
          }
        }
      }
    }
  }
}
