.routeComponent {
  display: flex;
  padding-top: 2px;
  padding-left: 30px;
  color: @blue-color;
  font-size: 13px;
}
.dictionaryKeyCell {
  color: @blue-color;
  cursor: pointer;
}

.routeItem {
  cursor: pointer;
}
