:root {
  /* border 宽度 */
  --vt-border-width: 1px;
  /* border 颜色 */
  --vt-border-color: #dbdbdb;
  /* 单元格 x 轴 padding */
  --vt-cell-padding-x: 0.5rem;
  /* 固定单元格背景颜色 */
  --vt-fixed-cell-bg-color: #fff;
}

.vt-row:last-of-type .vt-cell {
  border-bottom-width: var(--vt-border-width);
}

.vt-row .vt-cell:not(:first-child) {
  border-left-width: var(--vt-border-width);
}

.vt-row .vt-cell:last-child {
  border-right-width: var(--vt-border-width);
}

.vt-cell {
  display: inline-block;
  padding-left: var(--vt-cell-padding-x);
  padding-right: var(--vt-cell-padding-x);
  border-top-width: var(--vt-border-width);
  overflow: hidden;
}

.vt-cell.sticky {
  position: sticky;
  z-index: 2;
  background-color: var(--vt-fixed-cell-bg-color);
}

.vt-cell.stick-left-last:not(.parent)::after {
  content: '';
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: -1px;
  transform: translate(100%);
  pointer-events: none;
  box-shadow: 0 0 5px 1px #00000026;
}

.vt-cell.ellipsis {
  text-overflow: ellipsis;
}

.vt-cell .vt-checkbox {
  margin-right: var(--vt-cell-padding-x);
  padding-right: var(--vt-cell-padding-x);
  border-right-width: var(--vt-border-width);
}
