.readonlyItem {
    font-size: 13px;
    margin-bottom: 13px;
    width: 100%;
    display: flex;
    .readonlyItemLabel {
        color: @gray-color;
        font-weight: 400;
    }
    .readonlyItemContent {
        padding-left: 20px;
        font-weight: bold;
        color: @black-color;
    }
}