.readonlyItem {
    font-size: 13px;
    margin-bottom: 13px;
    width: 100%;
    display: flex;
    .readonlyItemLabel {
        color: @gray-color;
        font-weight: 400;
        flex-shrink: 0;
    }
    .readonlyItemContent {
        width:230px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 20px;
        font-weight: bold;
        color: @black-color;
        flex: 1;
    }
}