.myWorkContent {
  width: 100%;
  height: 100%;
  .myWorkTypeContent {
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
    .projectManagementStatisticItem {
      flex: 1;
    }
  }
  .singleTypeContent {
    width: 100%;
    height: calc(100% - 90px);
  }
}

.folderButton {
  position: fixed;
  bottom: 85px;
  z-index: 999;
  width: 32px;
  height: 54px;
  color: white;
  text-align: center;
  background-color: #505050;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s;
  img {
    width: 16px;
    height: 12px;
  }
}

.folderButton:hover {
  width: 38px;
  opacity: 1;
}
