.myWorkContent {
  width: 100%;
  height: 100%;
  .myWorkTypeContent {
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
    .projectManagementStatisticItem {
      flex: 1;
    }
  }
  .singleTypeContent {
    width: 100%;
    height: calc(100% - 90px);
  }

  .projectsAndFavorite {
    display: flex;
    height: calc(100% - 90px);
    background-color: #f6f6f6;
    .tableAndStatistics {
      width: 100%;
    }
    .allProjectsFavorite {
      box-sizing: border-box;
      width: 25%;
      height: calc(100vh - 220px);
      margin-right: 10px;
      padding: 20px 20px 0px 20px;
      background-color: #ffffff;
    }
    .allProjectTableContent {
      box-sizing: border-box;
      width: 100%;
      height: calc(100vh - 218px);
      padding: 20px 20px 0px 20px;
      background-color: #ffffff;

      .allProjectSearch {
        display: flex;
        height: 32px;

        .allProjectSearchContent {
          display: flex;
          flex: 1;
        }
        .allProjectFunctionButtonContent {
          display: flex;
        }
      }

      .engineerTableContent {
        height: calc(100% - 72px);
      }
    }
  }
}

.folderButton {
  position: fixed;
  bottom: 85px;
  z-index: 999;
  width: 32px;
  height: 54px;
  color: white;
  text-align: center;
  background-color: #505050;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s;
  img {
    width: 16px;
    height: 12px;
  }
}

.folderButton:hover {
  width: 38px;
  opacity: 1;
}
