.inputItem,
.treeItem {
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
  height: 48px;
  line-height: 48px;

  .iconItem {
    width: 15px;
    margin-left: 5px;
    transition: all 0.2s;
  }

  .iconItem:hover {
    width: 17px;
    margin-left: 5px;
  }
}
