.inputItem,
.treeItem {
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
  height: 48px;
  line-height: 48px;

  .titleText {
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .iconItem {
    width: 15px;
    margin-left: 5px;
    transition: all 0.3s;
  }

  .iconItem:hover {
    transform: rotate(360deg);
  }
}
