.allStatistics {
  display: flex;
  align-items: center;
  width: 320px;
  height: 90px;
  padding-left: 40px;
  background-color: @white-color;
  cursor: pointer;
  .allStatisticsIcon {
    width: 43px;
    height: 43px;
    margin-right: 20px;
    img {
      width: 43px;
      height: 43px;
      font-size: 0;
      line-height: 0;
    }
  }
  .allStatisticsContent {
    .allStatisticsTitle {
      color: @black-color;
      font-weight: 13px;
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
    }
    .allStatisticsNumber {
      margin-top: 13px;
      color: @black-color;
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
      .singleTabUnit {
        color: @gray-color;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
