.toDoItem {
  min-width: 154px;
  height: 80px;
  background: transparent;
  display: flex;
  border-radius: 4px;
  padding: 8px 0px 0px 12px;
  cursor: pointer;
  .toDoItemIcon {
    width: 62px;
    margin-right: 16px;

    img {
      width: 100%;
    }
  }

  .toDoItemContent {
    .toDoItemNumber {
      font-size: 31px;
      color: #fff;
      line-height: 1;
      margin-bottom: 4px;
    }

    .toDoItemStatus {
      font-size: 14px;
      line-height: 1;
      color: #29FC97;
    }
  }

  &:hover {
    background: #003A3C;
  }
}
