.feedbackDetail {
    .feedbackDetailInfo {
        border-bottom: 1px solid @border-gray-color;
    }
    .feedbackDetailReplyInfo {
        padding-top: 16px;
        padding-left: 10px;
        border-bottom: 1px solid @border-gray-color;
        .replyItem {
            margin-bottom: 12px;
        }
    }
    .replyContent {
        padding-top: 16px;
    }

}