.resultButton {
  padding: 20px 0;
  .resultButtonContent {
    text-align: right;
  }
  .helpTitle {
    color: @gray-color;
    line-height: 1;
  }
  .projectTitle {
    color: #1180fd;
  }
}

.titleIcon {
  display: inline-block;
  width: 2px;
  height: 14px;
  margin-right: 8px;
  background-color: @primary-color;
}

.resultTable {
  :global {
    .normalTabs.ant-tabs {
      .ant-tabs-nav {
        .ant-tabs-nav-wrap {
          .ant-tabs-nav-list {
            .ant-tabs-tab {
              margin: 0;
              padding: 8px 25px !important;
            }
          }
        }
      }
    }
  }
}

.svg {
  display: table-cell;
  width: 24px;
  height: 24px;
  margin-right: 3px;
  padding-right: 5px;
}
