.chooseDesignAndSurveySelect {
  padding: 12px 0;
  line-height: 26px;

  background-color: #f6f6f6;
  .firstLine {
    display: flex;
    justify-content: space-around;
  }
  .lastLine {
    padding: 0 12px;
  }
  .popContentItem {
    z-index: 1000;
    display: flex;
    width: 30% !important;
    margin-bottom: 10px;
    .popContentItemLabel {
      flex-shrink: 0;
      margin-right: 8px;
    }
    .popContentItemSelect {
      flex: 1;
    }
  }
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
}
