.searchAndButton {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  .searchProject {
    display: flex;
  }
}

.entrustTableContent {
  // height: calc(100% - 142px);
  height: calc(48vh - 55px);
}
