.personInfoRowWrap {
  color: #c0c0c0;
  border-top: 1px solid #f3f3f3;

  .editNodeWrap {
    padding-left: 100px;
    border-top: 1px dashed #f3f3f3;
  }
  .headerRow {
    display: flex;
    align-items: center;
    height: 50px;
    .rowTitle {
      flex-basis: 100px;
      user-select: none;
    }
    .rowContent {
      flex: 1;
      color: #000;
    }
    .expandIcon {
      display: flex;
      flex-basis: 50px;
      justify-content: space-between;
      justify-items: center;
      cursor: pointer;
      user-select: none;
      &:hover {
        color: green;
        transition: all 0.3s linear;
      }
      .icon {
        font-size: 12px;
      }
    }
  }
}
