.personInfoRowWrap {
  border-top: 1px solid #f3f3f3;
  color: #c0c0c0;

  .editNodeWrap {
    border-top: 1px dashed #f3f3f3;
    padding-left: 100px;
  }
  .headerRow {
    display: flex;
    height: 50px;
    align-items: center;
    .rowTitle {
      flex-basis: 100px;
      user-select: none;
    }
    .rowContent {
      flex: 1;
      color: #000;
    }
    .expandIcon {
      flex-basis: 50px;
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      justify-items: center;
      user-select: none;
      &:hover {
        color: green;
        transition: all .3s linear;
      }
      .icon {
        font-size: 12px;
      }
    }
  }
}