.refreshBarn {
  height: 100%;
  padding: 16px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  color: white;
  position: absolute;
  .list {
    position: relative;
  }
  :global {
    .ant-empty {
      display: none;
    }
  }
}
