.modalWrap {
  :global {
    .ant-modal-body {
      background-color: #f0f0f0;
      padding: 20px 6px;
    }
  }
  .layers {
    padding: 0 10px;
    margin: 0;
    &:first-of-type {
      margin-bottom: 0;
    }
    .buttonArea {
      text-align: right;
    }
    .title {
      margin-bottom: 1px;
      padding: 2px;
      color: #666666;
      .icon {
        font-size: 14px;
        line-height: 22px;
      }
    }
    .group {
      width: "100%";
      padding: 10px;
      padding-top: 0;
      background-color: "#fff";
      border: 1px solid #f0f0f0;
    }
    .row {
      padding: 4px 0;
    }
  }

}