@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

iframe {
  border: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.ant-dropdown-menu-item {
  font-size: 16px !important;
  color: @gray-color !important;
  padding: 6px 48px 6px 12px !important;
  font-weight: 400;
  &:hover {
    background-color: @light-primary-color !important;
  }
}

.hide {
  display: none;
}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.mr2 {
  margin-right: 2px;
}
.mr7 {
  margin-right: 7px;
}
.mr10 {
  margin-right: 10px;
}
.mr22 {
  margin-right: 22px;
}
.mr33 {
  margin-right: 33px;
}
.mt20 {
  margin-top: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.widthAll {
  width: 100%;
}
.noCopy {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}
.canClick {
  color: @can-click-color;
  .noCopy();
  cursor: pointer;
}
.f16 {
  font-size: 16px;
}

.flowHidden {
  overflow: hidden;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: @light-primary-color !important;
  .ant-select-item-option-content {
    color: @primary-color !important;
  }
}

.ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: @light-primary-color !important;
  .ant-select-item-option-content {
    color: @primary-color !important;
  }
}


.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  font-size: 18px;
  padding: 4px 10px;
}

.normalTabs.ant-tabs {
  &.noMargin {
    .ant-tabs-nav {
      margin-bottom: 0px;
    }
  }
  .ant-tabs-nav {
    &::before {
      display: none;
    }
    .ant-tabs-nav-wrap {
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          padding: 8px 0 !important;
          &.ant-tabs-tab-active {
            background-color: @white-color !important;
          }
          &::before {
            display: none !important;
          }
        }
      }
    }
  }
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: @light-primary-color !important;
  .ant-select-item-option-content {
    color: @primary-color !important;
  }
  &:hover {
    background-color: @light-primary-color;
  }
}

.ant-popover-buttons {
  .ant-btn {
    padding: 0 6px !important;
  }
}

.formSwitchOpenTip {
  font-size: 13px;
  color: @primary-color;
  margin-left: 7px;
}

.formSwitchCloseTip {
  font-size: 13px;
  color: @gray-color;
  margin-left: 7px;
}

.ant-btn {
  padding: 4px 8px !important;
}

.tipInfo {
  font-size: 12px;
  color: @gray-color;
}

.colorPrimary {
  color: @primary-color;
}
.colorRed {
  color: @red-color;
}

.ant-input-search {
  .ant-input-group-addon {
    .ant-input-search-button {
      line-height: 22px;
    }
  }
}