.designTitle {
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 2.5rem solid rgba(0, 0, 0, 0.8);
    border-right: 1rem solid transparent;
    border-left: 1rem solid transparent;
    content: '';
  }
}
