.mapBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.timeline {
  position: absolute;
  top: 16px;
  left: 16px;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-touch-callout: none;
}

.sideMenuTree {
  position: absolute;
  // height: calc(100% - 30px);
  height: 100%;
  transition: left ease-in-out 0.2s;
  // top: 20px;
  // left: -220px;
  // left: 0px;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-touch-callout: none;
}

.open {
  // left: 13px;
  left: 0px;
}

.close {
  left: -220px;
}

.footer {
  position: absolute;
  right: 50px;
  bottom: 0;
}

.surveyModal {
  position: absolute;
  width: 220px;
  height: 270px;
}

.listMenu {
  position: absolute;
  top: 120px;
  left: 16px;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  -webkit-touch-callout: none;
}

.mapDisplay {
  // position: absolute;
  // border: 2px solid #fff;
  position: absolute;
  right: 23px;
  bottom: 35px;
  overflow: hidden;
  transition: right linear 0.2s;
  // // background-color: red;
  // /* iOS Safari */
  // -webkit-user-select: none;
  // /* Chrome/Safari/Opera */
  // -khtml-user-select: none;
  // /* Konqueror */
  // -moz-user-select: none;
  // /* Firefox */
  // -ms-user-select: none;
  // /* Internet Explorer/Edge */
  // user-select: none;
  // -webkit-touch-callout: none;
}

.mapDisplayCloese {
  right: -120px;
}

.surveytrack {
  position: absolute;
  right: 23px;
  bottom: 135px;
  transition: right linear 0.2s;
}

.surveytrackCloese {
  right: -40px;
}

// @media (min-width: 1024px) {
//   .controlLayer {
//     position: absolute;
//     top: 100px;
//     right: 16px;
//     width: atuo;
//   }

//   .mapDisplay {
//     position: absolute;
//     top: 16px;
//     right: 16px;
//   }
// }

// @media (min-width: 1366px) {
//   .controlLayer {
//     position: absolute;
//     top: 100px;
//     right: 16px;
//     width: atuo;
//   }

//   .mapDisplay {
//     position: absolute;
//     top: 16px;
//     right: 16px;
//   }
// }

// @media (min-width: 1440px) {
//   .controlLayer {
//     position: absolute;
//     top: 100px;
//     right: 16px;
//     width: atuo;
//   }

//   .mapDisplay {
//     position: absolute;
//     top: 16px;
//     right: 16px;
//   }
// }

// @media (min-width: 1680px) {
//   .controlLayer {
//     position: absolute;
//     top: 423px;
//     left: 16px;
//     width: atuo;
//   }

//   .mapDisplay {
//     position: absolute;
//     top: 560px;
//     left: 16px;
//   }
// }
// @media (min-width: 1920px) {
//   .controlLayer {
//     position: absolute;
//     top: 423px;
//     left: 16px;
//     width: atuo;
//   }

//   .mapDisplay {
//     position: absolute;
//     top: 560px;
//     right: 16px;
//   }
// }
