.cyTag {
    display: inline-block;
    line-height: 1;
    padding: 2px 4px;
    font-size: 13px;
    &.green {
        border: 1px solid @primary-color;
        color: @primary-color;
    }
    &.blue {
        border: 1px solid @can-click-color;
        color: @can-click-color;
    }
    &.yellow {
        border: 1px solid @help-yellow-color;
        color: @help-yellow-color;
    }

}