.companyInfoWrap {
  // padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .companyInfoRow {
    height: 40px;
    display: flex;
    align-items: center;
    .title {
      flex-basis: 100px;
      color: #c0c0c0;
    }
    .content {
      flex: 1;
    }
  }
}
.nodeWrap {
  display: flex;
  align-items: center;
  min-height: 50px;
  .input {
    flex: 1;
  }
  .button {
    flex-basis: 80px;
  }
}