.personInfoItem {
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid @border-gray-color;
    display: flex;
    font-size: 13px;
    .personInfoItemLabel {
        width: 88px;
        color: @gray-color;
        text-align: left;
    }
    .personInfoItemContent {
        flex: 1;
        color: @black-color;

    }
    .personInfoItemButton {
      padding: 0 6px;
      cursor: pointer;
      &:hover {
        color: #0e7b3b;
      }

    }
}