.container {
  position: absolute;
  top: 350px;
  left: 180px;
  z-index: 1001;
  .icon {
    .list {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 151px;
      padding: 8px 8px;
      background-color: rgba(233, 233, 235, 0.8);

      .listItem {
        width: 90px;
        margin-bottom: 8px;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        font-variant: tabular-nums;
        border: none;
        font-feature-settings: 'tnum', 'tnum';
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
