.container {
  position: relative;
  height: 66px;
  color: @gray-color;
  .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    // margin-left: 300px;
    padding-top: 30px;

    .buttonsArea {
      font-size: 12px;
    }
    .processInfo {
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: #0e7b3b;
      }
    }
  }
  .processInfoTable {
    position: absolute;
    top: 60px;
    z-index: 10;
    background-color: #fffeff;
  }
}
