.mapContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.handleLeftSidbarHideButton {
  position: absolute;
  font-size: 40px;
  color: red;
  cursor: pointer;
  bottom: 0;
}

.otherlayers {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}