.projectScheduleItem {
  display: flex;
  justify-content: space-between;
  height: 76px;
  padding: 10px;
  padding-bottom: 12px;
  background-color: #fff;
  border-color: @primary-color !important;
  border-left: 3px solid;

  .itemInfo {
    .itemDate {
      margin-bottom: 8px;
      color: #8c8c8c;
      font-weight: 400;
      font-size: 14px;
      font-family: Source Han Sans CN;
      line-height: 24px;
      opacity: 1;
    }
    .itemContent {
      color: #1f1f1f;
      font-weight: 400;
      font-size: 14px;
      font-family: Source Han Sans CN;
      line-height: 24px;
      opacity: 1;
    }
  }
}
