.tableStatus {
  display: inline-block;
  padding: 4px 5px;
  font-size: 13px;
  color: @white-color;
  line-height: 1;
  vertical-align: middle;
  &.gray {
    background-color: @table-status-gray;
  }

  &.orange {
    background-color: @table-status-orange;
  }

  &.greenOne {
    background-color: @table-status-green-one;
  }

  &.greenTwo {
    background-color: @table-status-green-two;
  }

  &.greenThree {
    background-color: @table-status-green-three;
  }

  &.greenFour {
    background-color: @table-status-green-four;
  }

  &.greenFive {
    background-color: @table-status-green-five;
  }
}
