.searchGroup {
  display: flex;
  .filter {
    display: flex;
    .appWidth,
    .levelWidth {
      width: 150px;
    }
    :global {
      .ant-select,
      .ant-picker {
        margin-left: 5px;
      }
      .ant-btn-primary {
        margin-left: 15px;
      }
    }
  }
}
