.wrap {
  display: flex;
  justify-content: space-around;
  height: 650px;
  .leftWrap {
    height: 650px;
    padding-top: 124px;
  }
  .rightWrap {
    height: 650px;
  }
  .middleWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 650px;
    .btns {
      padding: 0 12px;
    }
  }
}
