.costTemplate{
  .leftMenu{
    position: relative;
    :global(.ant-tabs-nav)  {
      height: 100% !important;
    }
    :global(.ant-tabs-tab){
      width: 200px !important;
      display: flex;
      justify-content: center;
    }
    :global(.ant-tabs-left){
      overflow: visible;
      :global(.ant-tabs-content-holder){
        margin-top: -40px;
      }
    }

    //width: 250px;
    .content{
      height: 34px;
      width: 200px;
      text-align: center;
      display: inline-block;
      margin-top: 10px;

    }
    .topButton{
      position: absolute;
      top: 14px;
      right: 20px;
    }
  }
  .tables{
    //padding-left: 14px;
    //flex: 1;
    //margin-right: 14px;
  }
}
