.wrap{
  :global {
    .ant-table {
        min-height: 352px !important;
      }
      .ant-table-row {
          height: 15px;
          overflow: hidden;
      }
      .ant-table-cell {
          height: 15px;
      }
  }
  background-color: black;
  .row {
    //   max-height: 15px !important;
    //   margin: 0;
    //   padding: 0;
    //   overflow: hidden;
    //   background-color: brown;
  }
}