.wrap{
    .drawerClose {
        position: absolute;
        top: 45%;
        bottom: 55%;
        left: 0;
        z-index: 1004;
        font-size: 14px;
        padding: 0 6px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
        &:hover {
          color: #0e7b3b;
        }
    }
}